<footer class="page-footer">
    <small>
        @Copyright 2021. All rights reserved<!-- content here -->
    </small>
    <ul>
        Social: &nbsp;
        <a :href="facebook" target="_blank"><i class="fab fa-facebook"></i></a>&nbsp;&nbsp;
        <a :href="twitter" target="_blank"><i class="fab fa-twitter"></i></a>&nbsp;&nbsp;
        <a :href="instagram" target="_blank"><i class="fab fa-instagram-square"></i></a>
        &nbsp;&nbsp;
        <a :href="wechat" target="_blank"><i class="fab fa-weixin"></i></a>
        &nbsp;&nbsp;
        <a :href="whatsapp" target="_blank"><i class="fab fa-whatsapp-square"></i></a>

    </ul>
</footer>