<div class="page-header">


    <nav>
        <div class="logo">
            <a href="#" @click="goHome()">
                <img :src="require('../assets/img/generic_lawn_logo.png')" />
            </a>
        </div>
        <div class="navigation">
            <router-link :to="{ name: 'Home' }">Home</router-link>
            <router-link :to="{ name: 'Services' }">Services</router-link>
            <router-link :to="{ name: 'About Us' }">About Us</router-link>
            <router-link :to="{ name: 'Contact Us' }">Contact Us</router-link>
        </div>
        <div class="contact">
            <p><i class="fas fa-phone-square-alt"></i>{{ phoneNumber }}</p>

            <p><i class="fas fa-envelope"></i>{{ email }}</p>
            <p><i class="fab fa-facebook"></i>{{ facebook }}</p>
            <p><i class="fab fa-twitter"></i>{{ twitter }}</p>
        </div>
    </nav>










</div>
