
.nav_title {
    display: flex;
    width: 15%;

    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }
}

.contact {
    display: flex;
    text-align: right;

    .phone {
        align-content: end;
        padding: 8px;
    }

    .email {
        align-content: end;
        padding: 8px;
    }
}
// DEMO LAYOUT CODE
.sticky_nav {
    position: sticky;
    display: flex;
    justify-content: space-between;
    height: 100px;
    top: 0;
    background: #0B1156;


    a.router-link-active {
        background: #32366C;
        padding: 15px;
    }

    &__item {
        display: inline-block;
        padding: 15px;
        color: white;
        text-decoration: none;
    }
}

.nav {
    a.router-link-active {
        background: #32366C;
        padding: 15px;
    }

    &__item {
        display: inline-block;
        padding: 15px;
        color: white;
        text-decoration: none;
    }
}
