/* services section css */

#services {
    margin-top: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.servicesText.card {
    height: 280px;
    cursor: pointer;
    background: #32366C;
}

.servicesIcon {
    font-size: 36px;
    text-align: center;
    width: 100%;
}

.card-title {
    text-align: center;
}

.card:hover .servicesIcon {
    color: #008000;
}

.servicesText:hover {
    border: 1px solid #008000;
}
